version: "3.3"
services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    volumes:
      - ./api/:/api
    ports:
      - "4000:3000"
    depends_on:
      - db
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    volumes:
      - ./client/:/app
    ports:
      - 3000:3000
