version: "3.8"
services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
  server:
    build:
      context: ./buildlog_server
      dockerfile: Dockerfile
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 5000 -b '0.0.0.0'"
    volumes:
      - ./server
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
        - backend
        - frontend
  client:
    build:
      context: ./buildlog_client
      dockerfile: Dockerfile
    volumes:
      - ./app
    ports:
      - 3000:3000
    depends_on:
      - server
    networks:
        - backend
        - frontend
networks:
  backend:
  frontend: 